<div class="container my-5">
<h1>Login</h1>
<br>
<form class="form" action="/login" method="POST" role="form">
  <input class="form-control my-2" type="text" placeholder="User name" name="username" required>
  <input class="form-control my-2" type="password" placeholder="Password" name="password" required>
  <input class="btn btn-success my-2" type="submit" value="Login">
</form>
<hr>
<a href="/signup"><button class="btn btn-primary">Signup</button></a>
</div>