<div class="container text-center my-5">
    <div class="rounded text-light p-2 bg-success">
        <h1>Usuario logueado con éxito</h1>
    </div>
    <div class="rounded bg-primary p-2 my-2">
        <h2>Hola <span class="text-light">{{usuario}}</span>, bienvenido</h2>
    </div>
    <br>
    <a href="/logout"><button class="btn btn-danger">Logout</button></a>
</div>