<div class="container my-5">
<h1>Signup</h1>
<br>
<form class="form" action="/signup" method="POST" role="form">
  <input class="form-control my-2" type="text" placeholder="User name" name="username" required>
  <input class="form-control my-2" type="text" placeholder="First name" name="firstName" required>
  <input class="form-control my-2" type="text" placeholder="Last name" name="lastName" required>
  <input class="form-control my-2" type="email" placeholder="Email" name="email" required>
  <input class="form-control my-2" type="password" placeholder="Password" name="password" required>
  <input class="btn btn-success my-2" type="submit" value="Signup">
</form>
<hr>
<a href="/login"><button class="btn btn-primary">Login</button></a>
</div>

